openapi: 3.0.0
info:
  title: Cat Insurance API
  version: 1.0.0
servers:
  - url: "https://api.catinsurance.com/v1"
paths:
  /customers:
    post:
      operationId: createCustomer
      tags:
        - "Customer"
      summary: Create a new customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerReq"
      responses:
        "201":
          description: Customer created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerRes"
        "400":
          description: Invalid input data

    get:
      operationId: getCustomers
      tags:
        - "Customer"
      summary: Get all customers
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Page number
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Items per page

      responses:
        "200":
          description: Customers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomerRes"

  /contracts:
    post:
      operationId: createContract
      tags:
        - "Contract"
      summary: Create a new contract
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractReq"
      responses:
        "201":
          description: Contract created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractRes"
        "400":
          description: Invalid input data
  /contracts/rate:
    post:
      operationId: calculateRate
      tags:
        - "Contract"
      summary: Calculate rate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RateCalculationReq"
      responses:
        "200":
          description: Rate calculated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateRes"
  /customers/search:
    get:
      operationId: searchCustomers
      tags:
        - "Customer"
      summary: Search for customers
      parameters:
        - in: query
          name: text
          schema:
            type: string
          required: true
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Page number
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Items per page
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomerRes" # TODO return res object
  /customers/{customerId}:
    get:
      operationId: getCustomer
      tags:
        - "Customer"
      summary: Get customer details
      parameters:
        - in: path
          name: customerId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: a
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerRes"
        "404":
          description: Could not find customer corresponding to the ID.
          content:
            text/plain:
              schema:
                type: string
                example: Not found
    delete:
      operationId: deleteCustomer
      tags:
        - "Customer"
      summary: Delete a customer
      parameters:
        - in: path
          name: customerId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Customer deleted
        "404":
          description: Could not find customer corresponding to the ID.
          content:
            text/plain:
              schema:
                type: string
                example: Not found
    patch:
      operationId: updateCustomer
      tags:
        - "Customer"
      summary: Update a customer
      parameters:
        - in: path
          name: customerId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerReq"
      responses:
        "200":
          description: Customer updated
        "400":
          description: Invalid input data
        "404":
          description: Could not find customer corresponding to the ID.
          content:
            text/plain:
              schema:
                type: string
                example: Not found
  /customers/{customerId}/contracts:
    get:
      operationId: getCustomerContracts
      tags:
        - "Customer"
        - "Contract"
      summary: Get customer contracts
      parameters:
        - in: path
          name: customerId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Page number
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Items per page
      responses:
        "200":
          description: Customer contracts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContractRes"
        "404":
          description: Could not find customer corresponding to the ID.
          content:
            text/plain:
              schema:
                type: string
                example: Not found
  /contracts/{contractId}:
    get:
      operationId: getContract
      tags:
        - "Contract"
      parameters:
        - in: path
          name: contractId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Contract details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractRes"
        "404":
          description: Could not find contract corresponding to the ID.
          content:
            text/plain:
              schema:
                type: string
                example: Not found
  /employees:
    post:
      operationId: createEmployee
      tags:
        - "Employee"
      summary: Create a new employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeReq"
      responses:
        "201":
          description: Employee created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeRes"
        "400":
          description: Invalid input data
    patch:
      operationId: updateEmployee
      tags:
        - "Employee"
      summary: Update an employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeReq"
      responses:
        "200":
          description: Employee updated
        "400":
          description: Invalid input data
  /employees/{employeeId}:
    get:
      operationId: getEmployee
      tags:
        - "Employee"
      summary: Get employee details
      parameters:
        - in: path
          name: employeeId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Employee details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeRes"
components:
  schemas:
    CustomerReq:
      type: object
      required:
        - firstName
        - lastName
        - familyStatus
        - birthDate
        - socialSecurityNumber
        - taxId
        - grossIncome
        - address
        - bankDetails
        - email
      properties:
        email:
          type: string
          format: email
        firstName:
          type: string
          pattern: "^[A-Z][a-z]*$"
          example: "Max"
        lastName:
          type: string
          pattern: "^[A-Z][a-z]*$"
          example: "Mustermann"
        title:
          type: string
          enum:
            - "Dr."
            - "Prof. Dr."
            - "Dr. Dr."
            - "Prof. Dr. Dr"
        familyStatus:
          type: string
          enum:
            - ledig
            - verheiratet
            - geschieden
            - verwitwet
        birthDate:
          type: string
          format: date
        socialSecurityNumber:
          type: string
          pattern: "^[0-9]{11}$"
          example: "12345678901"
        taxId:
          type: string
          pattern: "^[0-9]{11}$"
          example: "12345678901"
        # grossIncome:
        #   type: number
        #   minimum: 0 # TODO
        #   maximum: 0 # TODO
        address:
          $ref: "#/components/schemas/Address"
        bankDetails:
          $ref: "#/components/schemas/BankDetails"
    CustomerRes:
      allOf:
        - $ref: "#/components/schemas/CustomerReq"
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
    ContractReq:
      type: object
      required:
        - startDate
        - endDate
        - coverage
        - catName
        - breed
        - color
        - birthDate
        - neutered
        - personality
        - environment
        - weight
        - customerId
      properties:
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        coverage:
          type: number
          minimum: 1
          example: 50000
        catName:
          type: string
          pattern: "^[A-Z][a-z]*$"
          example: "Minka"
        breed:
          type: string #Tabelle?
          pattern: "^[A-Z][a-z]*$"
          example: bengal
        color:
          type: string #Tabelle?
          pattern: "^[A-Z][a-z]*$"
          example: orange
        birthDate:
          type: string
          format: date
        neutered:
          type: boolean
        personality:
          type: string #Tabelle?
          pattern: "^[A-Z][a-z]*$"
          example: "verspielt"
        environment:
          type: string #Tabelle?
          pattern: "^[A-Z][a-z]*$"
          example: "Stadt"
        weight:
          type: number
          minimum: 50
          description: "In Gramm"
        customerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
    ContractRes:
      allOf:
        - $ref: "#/components/schemas/ContractReq"
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"

    RateCalculationReq:
      type: object
      required:
        - coverage
        - breed
        - color
        - birthDate
        - neutered
        - personality
        - environment
        - weight
        - zipCode
      properties:
        coverage:
          type: number
          minimum: 1
          example: 50000
        breed:
          type: string #Tabelle?
          pattern: "^[A-Z][a-z]*$"
          example: bengal
        color:
          type: string #Tabelle?
          pattern: "^[A-Z][a-z]*$"
          example: orange
        birthDate:
          type: string
          format: date
        neutered:
          type: boolean
        personality:
          type: string #Tabelle?
          pattern: "^[A-Z][a-z]*$"
          example: wild
        environment:
          type: string #Tabelle?
          pattern: "^[A-Z][a-z]*$"
          example: "Stadt"
        weight:
          type: number
          minimum: 50
          description: "In Gramm"
        zipCode:
          type: number
          minimum: 0
          maximum: 99999
    RateRes:
      type: object
      properties:
        rate:
          type: number
          minimum: 0
          maximum: 99999
    Address:
      type: object
      required:
        - street
        - houseNumber
        - zipCode
        - city
      properties:
        street:
          type: string
          pattern: "^[A-Z][a-z]*$"
          example: "Beispielstrasse"
        houseNumber:
          type: string
          pattern: "^[0-9]{1,3}[a-z]?$"
          example: 42
        zipCode:
          type: number
          minimum: 0
          maximum: 99999
          example: 12345
        city:
          type: string
          pattern: "^[A-Z][a-z]*$"
          example: "Musterstadt"
    BankDetails:
      type: object
      required:
        - iban
        - bic
        - name
      properties:
        iban:
          type: string
          pattern: "^[A-Z]{2}[0-9]{2}[A-Z]{4}[0-9]{7}([A-Z0-9]{0,16})?$"
          example: "DE89 3704 0044 0532 0130 00"
        bic:
          type: string
          pattern: "^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$"
          example: INGDDEFFXXX
        name:
          type: string
          pattern: "^[A-Z][a-z]*$"
          example: "Max Mustermann"
    EmployeeReq:
      type: object
      required:
        - firstName
        - lastName
        - address
      properties:
        firstName:
          type: string
          example: "Max"
        lastName:
          type: string
          example: "Mustermann"
        address:
          $ref: "#/components/schemas/Address"
    EmployeeRes:
      allOf:
        - $ref: "#/components/schemas/EmployeeReq"
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
